[coupled]
X = queue.in,queue.stop,queue.done,transducer.arrived,transducer.solved,transducer.done,coupled.in
Y = queue.out,transducer.throughput,transducer.cpuUsage,coupled.out
D = 1,2
M = queue,transducer
EIC = coupled.in,1.in
EOC = 2.cpuUsage,coupled.out
IC = 2.throughput,1.stop
select = 2,1
